<% provide(:title, @user.name) %>
<h1>My Page</h1>
<div class="row">
  <aside class="col-md-5 item-contents bg-secondary">
    <section class="user_info">
      <h3>
        <%= @user.name %>
      </h3>
      <% unless current_user?(@user) %>
        <%= link_to chat_path(@user.id), class: "text-white" do %>
          <i class="bi bi-chat-dots" style="font-size: 1.5rem" title="チャット">連絡する</i>
        <% end %>
      <% end %>
      <% if current_user?(@user) %>
        <h3>一致したトレード</h3>
        <% if @match_trades.blank? %>
          <p>マッチしたトレードはありません</p>
        <% else %>
          <!--        一致したトレードを一覧で表示-->
          <%= render partial: "trades/trade", collection: @match_trades %>
        <% end %>
      <% end %>
    </section>
  </aside>
  <div class="col-md-6 offset-md-1 bg-secondary item-contents">
    <% if @user.trades.any? %>
      <h3>投稿数 (<%= @user.trades.count %>)</h3>
      <%= render @trades %>
      <%= will_paginate(@trades, renderer: WillPaginate::ActionView::BootstrapLinkRenderer) %>
    <% else %>
      <h3>投稿はまだありません</h3>
    <% end %>
  </div>
</div>