<div class="card bg-secondary" id="trade-<%= trade.id %>">
  <div class="card-header text-left">
    <!--トレードタイプで背景色変更-->
    <% if trade.trade_type == "Buy" %>
      <span class="trade-icon bg-success"><%= trade.trade_type_i18n %></span>
    <% else %>
      <span class="trade-icon bg-danger"><%= trade.trade_type_i18n %></span>
    <% end %>
    <span class="trade-icon bg-dark"> <%= trade.mode_i18n %></span>
    <span class="trade-icon bg-dark"><%= trade.season_i18n %></span>

  </div>
  <div class="card-body text-left">
    <!--トレードタイプで順番を変更-->
    <% if trade.trade_type == "Buy" %>
      <h4 class="card-title">
        求）<%= trade.item_to_want %>
      </h4>
      <h4 class="card-title">
        出）<%= trade.item_to_offer %>
      </h4>
    <% else %>
      <h4 class="card-title">
        出）<%= trade.item_to_offer %>
      </h4>
      <h4 class="card-title">
        求）<%= trade.item_to_want %>
      </h4>
    <% end %>
    <p class="card-text"><%= trade.content %></p>
  </div>
  <div class="card-body text-left item-info">
    <%= render 'shared/platform', user: trade.user %>
  </div>
  <div class="card-footer text-left card-footer-contents">
    <span class="timestamp">
      <%= link_to trade.user.name, trade.user %>が<%= time_ago_in_words(trade.created_at) %>に投稿
    </span>
    <!--    投稿が自分なら削除ボタン出現-->
    <% if current_user?(trade.user) %>
      <%= link_to trade, class: "text-danger", method: :delete, data: { confirm: "本当に消しますか？" } do %>
        <i class="bi bi-trash" style="font-size: 1.5rem"></i>
      <% end %>
    <% end %>
    <!--    投稿が自分でないならDMボタン出現-->
    <% unless current_user?(trade.user) %>
      <%= link_to chat_path(trade.user), class: "text-white" do %>
        <i class="bi bi-chat-dots" style="font-size: 1.5rem" title="チャット"></i>
      <% end %>
    <% end %>
  </div>

</div>