<div class="card bg-secondary trades-contents">
  <div class="card-header text-left">
    <!--トレードタイプで背景色変更-->
    <% if trade.trade_type == "Buy" %>
      <span class="trade-icon bg-success"><%= trade.trade_type_i18n %></span>
    <% else %>
      <span class="trade-icon bg-danger"><%= trade.trade_type_i18n %></span>
    <% end %>
    <span class="trade-icon bg-dark"> <%= trade.mode_i18n %></span>
    <span class="trade-icon bg-dark"><%= trade.season_i18n %></span>
  </div>
  <div class="card-body">
    <!--トレードタイプで順番を変更-->
    <% if trade.trade_type == "Buy" %>
      <h3 class="card-title text-left">
        求）<%= trade.item_to_want %>
      </h3>
      <h3 class="card-title text-left">
        出）<%= trade.item_to_offer %>
      </h3>
    <% else %>
      <h3 class="card-title text-left">
        出）<%= trade.item_to_offer %>
      </h3>
      <h3 class="card-title text-left">
        求）<%= trade.item_to_want %>
      </h3>
    <% end %>
    <p class="card-text"><%= trade.content %></p>
  </div>
  <div class="card-body text-left item-info">
    <span class="trade-icon bg-dark">
      プラットフォーム：
      <% trade.trade_platforms.each do |trade_platform| %>
<!--        各データにあったアイコンを表示-->
        <% case trade_platform.platform.name %>
        <% when 'PC' then %>
          <i class="bi bi-pc" title="PC"></i>
        <% when 'Switch' then %>
          <i class="bi bi-nintendo-switch" title="Switch"></i>
        <% when 'Playstation' then %>
          <i class="bi bi-playstation" title="Playstation"></i>
        <% else %>
          <i class="bi bi-xbox" title="Xbox"></i>
        <% end %>
      <% end %>
    </span>
  </div>
    <div class="card-footer text-left">
    <span class="timestamp">
    <%= link_to @user.name, @user %>が<%= time_ago_in_words(trade.created_at) %>に投稿
    </span>
    </div>

</div>